body {
    font-family: "Playfair Display";
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    background-color: #f6f3f3; 
}
.container {
    margin: 0;  
    width: 100%;
    justify-content: center
}
.image-group {
    font-size: 20px;
    margin: 150px 300px 0 300px;
    display: flex; /* Hiển thị ảnh và chữ cùng hàng */
    align-items: center; /* Canh giữa theo chiều dọc */
    text-align: center;
}
.team-member {
    display: inline-block;
    width: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px rgb(236, 234, 234);
}
.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    text-align: center;
}
.team-member h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}
.team-member p {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: #777;
}
.i-container {
    text-align: center;
    background-color: white;
    background-size: 90%;
    width: 100%;
    margin: 100px 0 0 0;
    padding: 5px;
}
.name{
    display: flex;
    position: relative;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 900;
    background-image: linear-gradient(
        135deg,
        #0400ff 0%,
        #00d9ff 20%,
        #ff0000 40%,
        #e5ff00 60%,
        #2bff00 80%,
        #0400ff 100%);
        text-shadow:  0 0 40px #a200ff;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
.team-member{
    /* display:block; */
    transition: all .3s ease;
}
.team-member:hover{
    transform: scale(1.3); /* cỡ zoom khi di chuột vào */
} 
.team-member div{
    display:block;
    overflow: hidden;
}
