*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, 'Noto Sans', Roboto;
  font-size: 20px;
}

.header{
  padding: 0px 50px;
}

.nav-link {
  background-color: #242526;
  color: aliceblue !important;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.5s;
}

.nav-link:hover{
  background-color: #242526 !important;
}

.nav-link:hover::after{
  width: 100%;
}

.nav-link:active {
  background-color: #2f2b2b;
  color: rgb(234, 255, 0) !important;
}

.submenu-content{
  position: absolute;
  z-index: 1;
  width: 20%;
  top: 75%;
  border: 1px solid #dedede;  
  border-radius: 5px;
  /* right: -25%; */
  display: none;
  background-color: #ffffff;
  right: 20%;
}

.nav-item:hover .submenu-content {
  display: block;
}

li {
  list-style: none;
}

.so {
  font-size: 50px;
  color: red;
  font-weight: bold;
}
.chu{
  color: gray
}

.bg-gray {
  background-color: #e2e2e2;
  position: absolute;
  top: -70px;
  right: 0px;
  z-index: -1;
  height: 300px;
  width: 100%;
}

.feedback {
  color: #979797;
  height: 600px; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.feedback h4 {
  color: #505050;
  text-align: center;
}
.feedback small{
  color: rgb(78, 77, 77)
}
.site-footer {
  background-color: #242526;
  padding: 45px 0 20px;
  line-height: 24px;
  color: aliceblue;
}

.site-footer hr {
  border-top-color: #ffffff;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h3 {
  color: red;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: rgb(234, 255, 0);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
  /* text-align: center; */
}

.footer-links li {
  display: block
}

/* .footer-links a {
  color: #737373
} */

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  background-color: aliceblue;
  /* color: #1e0707 !important; */
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffffff
}

.copyright-text {
  margin: 0;
  text-align: center
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.social-icons:hover {
  background-color: rgb(236, 68, 74);
}

.social-icons li {
  display: inline-block;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
}

/* .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  display: inline-block;
  width: 54px;
  height: 54px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
} */

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: rgb(234, 255, 0)
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
}

.social-icons a.facebook:hover {
  background-color: rgb(234, 255, 0)
}

.social-icons a.twitter:hover {
  background-color: rgb(234, 255, 0)
}

.social-icons a.linkedin:hover {
  background-color: rgb(234, 255, 0)
}

.social-icons a.dribbble:hover {
  background-color: rgb(234, 255, 0)
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

.bg-text {
  position: absolute;
  top: 30px;
  text-align: center;
  margin-top: 30px;
  color: white;
}

.submenu-link {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #dedede;
  padding-left: 30px;
}

.item {
  border-right: 1px solid #dedede;
  border: 1px solid #dedede;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.list-box {
  padding: 10px;
  height: 350px;
  margin-top: 30px;
  justify-content: space-between;
}


.my-item{
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
}